<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <title>Pichon Inventory - Home</title>
    <link rel="icon" type="image/png" href="/static/favicon-pichon.png">
    <link rel="stylesheet" media="screen" type="text/css" href="../CSS/CSS_home.css"/>
</head>
<body>
    <div class="homepage">
        <a href="{{ url_for('home')}}">
            <img class="samson-logo" src="/static/samson-agro-logo.svg" id="6:4"/>
        </a>
        <p class="home-iJZ" id="17:45">Home</p>
        <div class="boutons-menu-QhB" id="36:10">
            <input type="button" class="main-button" value="ADD EQUIPMENT">
            <a href="{{ url_for('scan') }}">
                <input type="button" class="main-button" value="SCAN QRCODE">
            </a>
        </div>
        <div id="rechercher">
        <input type="text" class="barre-recherche-Guj" placeholder="Search">
        </div>
        <br/>
        <a href="{{ url_for('login') }}">
            <input type="button" class="login-button" value="Log in">
        </a>
    </div>
</body>
</html>

<style>


</style>