<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pichon Inventory - Scan</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/favicon-pichon.png">
    <link rel="stylesheet" media="screen" type="text/css" href="../CSS/CSS_Scanner.css"/>
</head>
<body>
    <a href="{{ url_for('home')}}">
        <img id="logo_entreprise" src="/static/samson-agro-logo.svg" alt = "logo_entreprise">
    </a>
    <div id="scan-page">
        <p id="title">Scan QRCode</p>

    <div id="container">
        <video autoplay="true" id="videoElement">
        </video>

    </div>
    <button id="upload_bouton">Fichier <img id="upload-image" src="/static/upload-svgrepo-com.svg" style="margin: 0 5px;"></button>

    <form action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data" id="upload-form">
        <input type="file" name="file" id="file">
    </form>

    <script>
        document.getElementById("file").onchange = function() {
            document.getElementById("upload-form").submit();
        };
    </script>

    </div>
</body>

<script>
    var video = document.querySelector("#videoElement");
    if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
        video.srcObject = stream;
        })                                                         // lien pour l'explication de la fonction JS : https://www.kirupa.com/html5/accessing_your_webcam_in_html5.htm
        .catch(function (err0r) {
        console.log("Something went wrong!");
        });
}
</script>




</html>