<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <title>Pichon Inventory - Devices</title>
    <link rel="icon" type="image/png" href="/static/samson-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/samson-icon.png"/>

    <!-- DataTables scripts -->
    <link href="{{url_for('static', filename='datatables.min.css')}}" rel="stylesheet"> 
    <script src="{{url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='datatables.min.js')}}"></script>

</head>
<body>

    <script>

        $.extend( $.fn.dataTable.defaults, { // Default options for all tables
            searching: true, // Don't show the search button
            paging: true, // Disable multiple pages
            stateSave: true, // Save the table state on page reload, soit loads faster
            "language": {
                "info": "" // Remove the "Showing X to Y of Z entries" at the end of the table
            },
        } );
        
        function RedirectToDevicePage(table, primarykey) {
            let form = document.createElement('form');
            form.method = 'POST';
            form.action = "{{ url_for('redirection_scan_api') }}";

            let input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'qr_data';
            input.value = table + ',' + primarykey ;

            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();

            document.forms['export_qr'].submit();
        }

        function RedirectToUserEquipment(id_user) {
            let form = document.createElement('form');
            form.method = 'POST';
            form.action = "{{ url_for('details_equipment_user') }}";

            let input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'userid';
            input.value = id_user.toString() ;

            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();

            document.forms['export_qr'].submit();
        }
            
    </script>

    <div class="device-page">
        <div class="barre">
            <div class="barre-left">
                <a href="{{ url_for('home')}}">
                    <img class="samson-logo" src="/static/samson-agro-logo.svg" id="6:4"/>
                </a>
            </div>
        </div>
        <p class="device-Jfo" id="2:10">Devices list</p>
        <div class="table-block" style="width: 50%;">
            <p class="table-title">Computers</p>
            <table class="devices-table" id="ComputersTable">
                <thead>
                    <tr>
                        <th>Device ID</th>
                        <th>Serial Number</th>
                        <th>Hostname</th>
                        <th>Main User</th>
                        <th>Purchase Date</th>
                        <th>Software</th>
                        <th>QR Code</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in computers %}
                    <tr class="devices-column">
                        <td> {{ row[0] }}</td>
                        <td> {{ row[1] }}</td>
                        <td> {{ row[2] }}</td>
                        <td> {{ row[3] }}</td>
                        <td> {{ row[4] }}</td>
                        <td> {{ row[5] }}</td>
                        <td>Download QR Code</td>
                        <td>Show Details</td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
            <p1 class="device-Jfo1" >{{html}}</p1>
        </div>

        <script> // Documentation ->  https://datatables.net/manual/index
            let table_computers = new DataTable('#ComputersTable', {
                // options
                "columnDefs": [
                    {"targets": -2,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='" + "{{url_for('generate_qrcode') }}" + "?table=Computers&device=" + row[0] + "' download>" + data + '</a>';
                    }},
                    {"targets": -1,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='javascript:;' onclick='" + "RedirectToDevicePage(" + "\"Computers," + row[0] + "\")'>" + data + '</a>';
                    }}
                ]
            });
        </script>

        <div class="table-block" style="width: 50%;">
            <p class="table-title">Employees</p>
            <table class="devices-table" id="EmployeesTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Department</th>
                        <th>E-Mail</th>
                        <th>Computer</th>
                        <th>Phone number</th>
                        <th>Mouse</th>
                        <th>All Equipment</th>
                        <th>User Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in employees %}
                    <tr class="devices-column">
                        <td> {{ row[0] }}</td>
                        <td> {{ row[1] }}</td>
                        <td> {{ row[2] }}</td>
                        <td> {{ row[3] }}</td>
                        <td> {{ row[4] }}</td>
                        <td> {{ row[5] }}</td>
                        <td> {{ row[6] }}</td>
                        <td> {{ row[7] }}</td>
                        <td>Show All Equipment</td>
                        <td>Show User details</td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
            <p1 class="device-Jfo1" >{{html}}</p1>
        </div>

        <script> // Documentation ->  https://datatables.net/manual/index
            let table_employees = new DataTable('#EmployeesTable', {
                // options
                "columnDefs": [
                    {"targets": -2,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='javascript:;' onclick='" + "RedirectToUserEquipment(\""  + row[0] + "\")'>" + data + '</a>';
                    }},
                    {"targets": -1,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='javascript:;' onclick='" + "RedirectToDevicePage(" + "\"Users," + row[0] + "\")'>" + data + '</a>';
                    }}
                ]
            });
        </script>

        <div class="table-block" style="width: 50%;">
            <p class="table-title">Phones</p>
            <table class="devices-table" id="PhonesTable">
                <thead>
                    <tr>
                        <th>Device ID</th>
                        <th>Serial Number</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Purchase Date</th>
                        <th>Phone Number</th>
                        <th>Main User</th>
                        <th>Data</th>
                        <th>QR Code</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in phones %}
                    <tr class="devices-column">
                        <td> {{ row[0] }}</td>
                        <td> {{ row[1] }}</td>
                        <td> {{ row[2] }}</td>
                        <td> {{ row[3] }}</td>
                        <td> {{ row[4] }}</td>
                        <td> {{ row[5] }}</td>
                        <td> {{ row[6] }}</td>
                        <td> {{ row[7] }} Go</td>
                        <td>Download QR Code</td>
                        <td>Show Details</td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
            <p1 class="device-Jfo1" >{{html}}</p1>
        </div>
        
        <script> // Documentation ->  https://datatables.net/manual/index
            let table_phones = new DataTable('#PhonesTable', {
                // options
                "columnDefs": [{
                    "targets": -2,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='" + "{{url_for('generate_qrcode') }}" + "?table=Phones&device=" + row[0] + "' download>"  + data + '</a>'; // Generates QR Code and downloads it on the client device
                    }},
                    {"targets": -1,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='javascript:;' onclick='" + "RedirectToDevicePage(" + "\"Phones," + row[0] + "\")'>" + data + '</a>';
                    }}
                ]
            });
        </script>

        <div class="table-block" style="width: 50%;">
            <p class="table-title">Printers</p>
            <table class="devices-table" id="PrintersTable">
                <thead>
                    <tr>
                        <th>Device ID</th>
                        <th>Serial Number</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>hostname</th>
                        <th>purchasedate</th>
                        <th>ip</th>
                        <th>QR Code</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in printers %}
                    <tr class="devices-column">
                        <td> {{ row[0] }}</td>
                        <td> {{ row[1] }}</td>
                        <td> {{ row[2] }}</td>
                        <td> {{ row[3] }}</td>
                        <td> {{ row[4] }}</td>
                        <td> {{ row[5] }}</td>
                        <td> {{ row[6] }}</td>
                        <td>Download QR Code</td>
                        <td>Show Details</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p1 class="device-Jfo1" >{{html}}</p1>
        </div>

        <script> // Documentation ->  https://datatables.net/manual/index
            let table_printers = new DataTable('#PrintersTable', {
                // options
                "columnDefs": [{
                    "targets": -2,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='" + "{{url_for('generate_qrcode') }}" + "?table=Printers&device=" + row[0] + "' download>"  + data + '</a>'; // Generates QR Code and downloads it on the client device
                    }},
                    {"targets": -1,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='javascript:;' onclick='" + "RedirectToDevicePage(" + "\"Printers," + row[0] + "\")'>" + data + '</a>';
                    }}
                ]
            });
        </script>

        <div class="table-block" style="width: 50%;">
            <p class="table-title">Screens</p>
            <table class="devices-table" id="ScreensTable">
                <thead>
                    <tr>
                        <th>Device ID</th>
                        <th>Serial Number</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Purchase Date</th>
                        <th>Main User</th>
                        <th>QR Code</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in screens %}
                    <tr class="devices-column">
                        <td> {{ row[0] }}</td>
                        <td> {{ row[1] }}</td>
                        <td> {{ row[2] }}</td>
                        <td> {{ row[3] }}</td>
                        <td> {{ row[4] }}</td>
                        <td> {{ row[5] }}</td>
                        <td>Download QR Code</td>
                        <td>Show Details</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p1 class="device-Jfo1" >{{html}}</p1>
        </div>

        <script> // Documentation ->  https://datatables.net/manual/index
            let table_screens = new DataTable('#ScreensTable', {
                // options
                "columnDefs": [{
                    "targets": -2,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='" + "{{url_for('generate_qrcode') }}" + "?table=Screens&device=" + row[0] + "' download>"  + data + '</a>'; // Generates QR Code and downloads it on the client device
                    }},
                    {"targets": -1,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='javascript:;' onclick='" + "RedirectToDevicePage(" + "\"Screens," + row[0] + "\")'>" + data + '</a>';
                    }}
                ]
            });
        </script>

        <div class="table-block" style="width: 50%;">
            <p class="table-title">External Drives</p>
            <table class="devices-table" id="ExternalDrivesTable">
                <thead>
                    <tr>
                        <th>Device ID</th>
                        <th>Serial Number</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Capacity</th>
                        <th>Purchase Date</th>
                        <th>QR Code</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in externaldrives %}
                    <tr class="devices-column">
                        <td> {{ row[0] }}</td>
                        <td> {{ row[1] }}</td>
                        <td> {{ row[2] }}</td>
                        <td> {{ row[3] }}</td>
                        <td> {{ row[4] }} Go</td>
                        <td> {{ row[5] }}</td>
                        <td> {{ row[6] }}</td>
                        <td>Download QR Code</td>
                        <td>Show Details</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p1 class="device-Jfo1" >{{html}}</p1>
        </div>

        <script> // Documentation ->  https://datatables.net/manual/index
            let table_externaldrives = new DataTable('#ExternalDrivesTable', {
                // options
                "columnDefs": [{
                    "targets": -2,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='" + "{{url_for('generate_qrcode') }}" + "?table=ExternalDrives&device=" + row[0] + "' download>"  + data + '</a>'; // Generates QR Code and downloads it on the client device
                    }},
                    {"targets": -1,
                    "render": function (data, type, row, meta) {
                        console.log(window.location.host)
                        return "<a href='javascript:;' onclick='" + "RedirectToDevicePage(" + "\"ExternalDrives," + row[0] + "\")'>" + data + '</a>';
                    }}
                ]
            });
        </script>

        <div class="table-block" style="width: 50%;">
            <p class="table-title">Admins</p>
            <table class="devices-table", id="AdminsTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in admins %}
                    <tr class="devices-column">
                        <td> {{ row[0] }}</td>
                        <td> {{ row[1] }}</td>
                        <td> {{ row[2] }}</td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
            <p1 class="device-Jfo1" >{{html}}</p1>
        </div>

        <script> // Documentation ->  https://datatables.net/manual/index
            let table_admins = new DataTable('#AdminsTable', {
                // options
                "columnDefs": [
                ]
            });
        </script>

    </div>

</body>

<style>

div.dt-length, div.dt-search, div.dt-layout-row, div.dt-paging, div.dt-layout-cell  {
    color: white !important;
}
.table-block {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

table.devices-table { 
    border: 1px solid rgb(255, 255, 255);
    border-radius: 13px; 
    border-spacing: 0;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

table.devices-table th { 
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 10px; 
}

table.devices-table td { 
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 10px; 
}

.devices-table {
    margin: auto;
}

table.devices-table tr:last-child > td {
    border-bottom: none;
}

.table-title {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    text-align: center; /* Aligner le texte au centre */
}

.barre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.barre-left {
    display: flex;
}

body {
    background-color: #282828;
}

.device-page {
    background-color: #282828;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.samson-logo {
    display: flex;
    height: 4.7rem;
    width: 16.4rem;
    position: absolute;
    left: 0px;
    padding: 20px 20px;
    vertical-align: top;    
}

.device-Jfo {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2125;
    margin: 15rem 0.1rem 4.7rem 0rem;
    white-space: nowrap;
}

.device-Jfo1 {
    color: #ff0000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2125;
    margin: 1rem 0.1rem 4.7rem 0rem;
    white-space: nowrap;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .samson-logo {
        height: 3.7rem;
        width: 9.4rem;
    }

    #title {
        font-size: 2.2rem;
    }

    .device-Jfo {
        font-size: 2.7rem;
        margin: 7rem 0 0 0;
    }

    .container {
        width: 100%;
        max-width: 400px;
        height: 100%;
        max-height: 400px;
        margin: 5px;
    }

    #message_erreur {
        font-size: 1.6rem;
    }  
}

</style>
</html>